@layer base {
  :root {
    --color-primary: theme('colors.indigo.600');
    --color-primary-hover: theme('colors.indigo.700');
    --color-secondary: theme('colors.gray.200');
    --color-secondary-hover: theme('colors.gray.300');
  }

  .dark {
    --color-primary: theme('colors.indigo.500');
    --color-primary-hover: theme('colors.indigo.600');
    --color-secondary: theme('colors.gray.700');
    --color-secondary-hover: theme('colors.gray.600');
  }
}